---
import PageMeta from 'src/components/PageMeta.astro'
import PageLayout from 'src/layouts/PageLayout.astro'
import { SITE_TITLE } from '../config'
---

<PageLayout>
	<PageMeta title={SITE_TITLE} slot='meta' />
	<section class='flex h-full items-center px-4'>
		<h1 class='text-center text-7xl'>{SITE_TITLE}</h1>
	</section>
</PageLayout>
