<section>
	<giscus-widget
		repo='moshyfawn/moshyfawn'
		repoid='R_kgDOHhvDnQ'
		category='Announcements'
		categoryid='DIC_kwDOHhvDnc4CPwvi'
		mapping='pathname'
		strict='0'
		reactionsenabled='1'
		emitmetadata='0'
		inputposition='top'
		theme='preferred_color_scheme'
		lang='en'
		loading='lazy'
		crossorigin='anonymous'
		async></giscus-widget>
</section>

<script>
	import 'giscus'
</script>
