---
import { MY_NAME } from 'src/config'
---

<footer
	role='contentinfo'
	class='flex justify-between py-4 text-sm text-secondary-light dark:text-secondary-dark'
>
	<p>&copy; 2022 by {MY_NAME}'s corner. All rights reserved.</p>
	<span>v{__APP_VERSION__}</span>
</footer>
